
#my-name{
    position: fixed;
    top: 50%;
    z-index: 1200;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

#my-name > h1 {
    color: #016062;
    font-size: 3em;
    text-shadow: 2px 2px 3px white;
}

#my-name > h2 {
    text-shadow: 1px 1px 3px white;
    font-size: 2em;
    color: #109383;
}