
#my-name{
    position: fixed;
    top: 50%;
    z-index: 1200;
    width: 100%;
    text-align: center;
    font-family: sans-serif;
}

#my-name > h1 {
    color: #016062;
    font-size:4vw;
    text-shadow: 2px 2px 2px white;
    margin: 0px;
}

#my-name > h2 {
    margin: 0px;
    text-shadow: 1px 1px 1px #222;
    font-size:3vw;
    color: #109383;
}

h1:hover {
    opacity: 0.9;
}

h2:hover {
    opacity: 0.9;
}